name: Laravel CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  ci:
    name: CI - Tests & Static Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, zip, pdo, pdo_sqlite
          coverage: none

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run PHPUnit
        run: php artisan test

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse --memory-limit=512M

  build:
    name: Build & Push Docker Image
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/cnunez1301/api-laravel:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/cnunez1301/api-laravel:latest

  scan:
    name: Security Scan (Trivy)
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ghcr.io/cnunez1301/api-laravel:latest
          severity: CRITICAL
          exit-code: 1
